.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: nowrap column;
    overflow: hidden;
}

.body {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    flex-grow: 1;
}

.sideBarResizeContainer {
    width: 30%;
}
.right-bar {
    min-width: 200px;
    width: 400px;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    background: white;
    .panel {
        display: flex;
        // justify-content: center;
    }
    .containerNew {
        height: 100%;
        flex-flow: row;
        .box-container {
            height: 100%;
            padding: 0px !important;
        }
        .MuiBox-root {
            visibility: visible;
        }
        box-shadow: none;
        overflow: auto;
        direction: ltr;
        visibility: hidden;
        transition: visibility 0s 0.2s;
    }
    .containerNew:hover,
    .containerNew:focus {
        visibility: visible !important;
    }
}

.withMargin {
    margin: 10px;
    box-sizing: border-box;
}

.content {
    flex-grow: 2;
    // background: white;
}

.customHandle {
    cursor: ew-resize;
    border-radius: 0px !important;
    width: 2px !important;
    height: 20px !important;
    border: none !important;
    transform: translateY(-50%) !important;
    transition: background 0.2s ease 0s !important;
    position: absolute !important;
    background: rgb(235, 236, 240) !important;
}

.customResizeBorder:hover {
    background: rgb(38, 132, 255) !important;
}

.customResizeBorder {
    cursor: ew-resize;
    width: 2px;
    background: white !important;
    display: flex;
    // z-index: 99999;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: visible;
    margin-left: 0.5rem;
}
.customResizeBorder > span::after {
    content: "" !important;
    width: 2px !important;
    height: 20px !important;
    transform: translateY(-50%) !important;
    transition: background 0.2s ease 0s !important;
    position: absolute !important;
    background: rgb(235, 236, 240) !important;
}
.content.panelNew{
    overflow: hidden;
    display: flex;
}