.app-container {
    // padding: 1em 1em;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .app-sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 150px;
    display: flex;
    max-width: 60%;
    min-width: 35%;
    flex-direction: row;
    background: #ffffff;
    // box-shadow: -8px 2px 22px -7px rgba(0, 0, 0, 0.25);
    // border-radius: 10px 0px 0px 10px;
    z-index: 2;
  }
  
  .app-frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    max-height: 100%;
    background: #ffffff;
    z-index: 1;
    border-radius: 4px;
  }
  
  .app-sidebar .app-sidebar-content {
    flex: 1;
  }
  
  .app-sidebar .app-sidebar-resizer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 2px;
    z-index: 3;
    justify-self: flex-start;
    cursor: col-resize;
    resize: horizontal;
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .app-sidebar .app-sidebar-resizer:hover {
    background: rgb(38, 132, 255);
  }
  .app-sidebar .app-sidebar-resizer:after
   {
    content: "";
    width: 2px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.2s ease 0s;
    position: absolute;
    background: rgb(235, 236, 240);
   }