.text-editor {
  width: 1086px;
  margin: 0 auto;
}
.ql-editor {
  min-height: 100px;
}
.ql-tooltip.ql-editing {
  left: 0 !important;
}

.editor-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}