.task-view-container {
    display: flex;
    width: 100%;
    // flex-grow: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    > .MuiGrid-root {
        min-width: 600px;
        padding: 0 1rem 1rem 1rem;
    }
    &:hover {
        overflow-x: overlay;
    }
    .react-swipeable-view-container {
        flex-flow: column nowrap;
        flex-direction: column !important;
        overflow: auto;
    }
}
.task-column-content {
    > .MuiGrid-root {
        > .MuiGrid-root {
            padding-bottom: 1rem;
        }
    }
}
.flex-basis-auto {
    flex-basis: auto !important;
}
