.task-view-container {
    // overflow: auto;
    > .MuiGrid-root {
        min-width: 600px;
        padding: 1rem;
    }
}
.task-column-content {
    > .MuiGrid-root {
        > .MuiGrid-root {
            padding-bottom: 1rem;
        }
    }
}
