.avatar-container {
    position: relative;
    margin: auto;
}
.avatar-image {
    opacity: 1;
    // transition: 0.5s ease-in-out;
    backface-visibility: hidden;
}
.avatar-middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.avatar-container:hover .avatar-image {
    opacity: 0.3;
}

.avatar-container:hover .avatar-middle {
    opacity: 1;
}

.avatar {
    font-weight: 100 !important;
}