.ag-cell {
    // display: flex !important;
    .ag-cell-wrapper {
        height: 100%;
    }
}
.ag-theme-alpine {
    flex-grow: 1;
    .ag-root-wrapper {
        border: none !important;
    }
}
