.ag-cell {
    // display: flex !important;
    .ag-cell-wrapper {
        height: 100%;
        .cell-group-item {
            font-weight: 400 !important;
        }
        .cell-group-icon {
            cursor: pointer;
            min-width: 10px;
        }
    }
}
.ag-theme-alpine {
    flex-grow: 1;
    .ag-root-wrapper {
        border: none !important;
    }
}
