$font_size_normal: 14px;

button {
    text-transform: none !important;
}

@mixin buttonTitleBefore($title, $translateX) {
    content: $title;
    position: absolute;
    bottom: -36px;
    z-index: 7;
    padding: 3px 6px;
    left: 50%;
    border-radius: 5px;
    background: #343a40;
    color: #fff;
    font-size: $font_size_normal;
    font-family: sans-serif;
    white-space: nowrap;
    -webkit-transform: translateX($translateX);
    -moz-transform: translateX($translateX);
    -ms-transform: translateX($translateX);
    -o-transform: translateX($translateX);
    transform: translateX($translateX);
}

@mixin buttonTitleAfter($translateX) {
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 7;
    color: #fff;
    border: 8px solid transparent;
    border-bottom: 8px solid #000;
    -webkit-transform: translateX($translateX);
    -moz-transform: translateX($translateX);
    -ms-transform: translateX($translateX);
    -o-transform: translateX($translateX);
    transform: translateX($translateX);
}

[button-title]:hover::before {
    @include buttonTitleBefore(attr(button-title), -50%);
}

[button-title]:hover::after {
    @include buttonTitleAfter(-50%);
}

[button-title-right]:hover::before {
    @include buttonTitleBefore(attr(button-title-right), -70%);
}

[button-title-right]:hover::after {
    @include buttonTitleAfter(-70%);
}

[button-title] {
    position: relative;
}

.btn-circle {
    width: 40px !important;
    min-width: 40px !important;
    height: 40px !important;
    padding: 10px 10px !important;
    font-size: 18px !important;
    line-height: 1.33 !important;
    border-radius: 20px !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
    margin: 0 0 0 10px !important;

    .MuiButton-startIcon {
        margin: 0 !important;
    }
}

body {
    padding-right: 0 !important;
}

.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within {
    outline: none !important;
}

.MuiCircularProgress-root {
    z-index: 1;
}

.MuiTablePagination-displayedRows,
.MuiTablePagination-selectLabel {
    margin-bottom: 0 !important;
}
.MuiDialogActions-root {
    padding: 16px !important;
}
.MuiDataGrid-overlay {
    height: auto !important;
    min-height: 52px !important;
}

@mixin iconTitleBefore($title, $translateX) {
    content: $title;
    position: absolute;
    bottom: -56px;
    z-index: 77777;
    padding: 3px 6px;
    left: 50%;
    border-radius: 5px;
    background: #343a40;
    color: #fff;
    font-size: $font_size_normal;
    font-family: sans-serif;
    white-space: nowrap;
    -webkit-transform: translateX($translateX);
    -moz-transform: translateX($translateX);
    -ms-transform: translateX($translateX);
    -o-transform: translateX($translateX);
    transform: translateX($translateX);
}

@mixin iconTitleAfter($translateX) {
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 77777;
    color: #fff;
    border: 8px solid transparent;
    border-bottom: 8px solid #000;
    -webkit-transform: translateX($translateX);
    -moz-transform: translateX($translateX);
    -ms-transform: translateX($translateX);
    -o-transform: translateX($translateX);
    transform: translateX($translateX);
}

[icon-title]:hover::before {
    @include iconTitleBefore(attr(icon-title), -50%);
}

[icon-title]:hover::after {
    @include iconTitleAfter(-50%);
}

[icon-title-right]:hover::before {
    @include iconTitleBefore(attr(icon-title-right), -70%);
}

[icon-title-right]:hover::after {
    @include iconTitleAfter(-70%);
}

[icon-title] {
    // position: absolute;
    z-index: 77777;
}
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: sans-serif !important;
}
.text-note {
    color: #5f6368;
    // margin-top:  10px !important;
    // padding-bottom:6px !important;
    display: flex;
    align-items: center;
    font: 400 13px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.text-active {
    color: rgb(0, 177, 0) !important;
}
.text-block {
    color: rgb(243, 29, 22) !important;
}
.text-wait-confirm-mail {
    color: rgb(77, 77, 77) !important;
}
.MuiDataGrid-columnSeparator {
    display: none !important;
}
// ::-webkit-scrollbar {
//     width: 10px;
// }
// ::-webkit-scrollbar-button {
//     background: #ccc
// }
// ::-webkit-scrollbar-track-piece {
//     background: #888
// }
// ::-webkit-scrollbar-thumb {
//     background: #eee
// }

.avatar,
.icon-button-file {
    margin: auto;
}

.flex-container {
    display: flex;
    // align-items: center;
}

.full-width {
    width: 100%;
}
.Mui-error {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.f-left {
    float: left;
}

.containerNew {
    width: 100%;
    display: flex;
    flex-flow: nowrap column;
    overflow: hidden;
    background: white;
    // padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.box-container {
    width: 100%;
    padding: 1rem;
}
legend {
    width: auto;
}
.MuiAutocomplete-root {
    .MuiFormControl-root {
        // min-width: 200px;
        .MuiOutlinedInput-root {
            gap: 10px;
        }
    }
}
.select-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.chip-container {
    padding: 10px;
    max-width: 250px;
}
.select-container {
    min-width: 150px !important;
}
div[data-rbd-draggable-context-id] {
    padding: 1rem 0 0 1rem !important;
    cursor: move !important;
}
.ql-toolbar.ql-snow {
    border-radius: 4px 4px 0px 0px;
}
.ql-container.ql-snow {
    border-radius: 0px 0px 4px 4px;
}
.label-title {
    color: #0000006b;
}
.containerControl {
    width: 100%;
}
.MuiAccordion-rounded {
    .Mui-focusVisible{
        background-color: transparent !important;
    }
}
.MuiFormControlLabel-root{
    margin-bottom: 0!important;
    .MuiRadio-root{
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
}